<div class="messages-wrapper">
  <button
    (click)="openMessageDialog()"
    mat-raised-button
    color="primary">
    Write message <mat-icon>edit_note</mat-icon>
  </button>

  <ng-container *ngIf="messages$ | async as messages">
    <table
      *ngIf="messages.length; else noMessages"
      mat-table
      [dataSource]="messages">
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef>
          ID
        </th>
        <td
          mat-cell
          *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef>
          Name
        </th>
        <td
          mat-cell
          *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th
          mat-header-cell
          *matHeaderCellDef>
          Message
        </th>
        <td
          mat-cell
          *matCellDef="let element">
          {{ element.message }}
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th
          mat-header-cell
          *matHeaderCellDef>
          Date
        </th>
        <td
          mat-cell
          *matCellDef="let element">
          {{ element.createdAt | formatDate }}
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ng-template #noMessages> Sorry, no messages yet </ng-template>
  </ng-container>
</div>
