.header {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;

  .back-button {
    justify-self: start;
  }

  .dynamic-content {
    justify-self: end;
  }
}
