<mat-toolbar class="header">
  <div class="header-title">
    <a routerLink="/">
      <span>{{ name$ | async }}</span>
    </a>
  </div>

  <div class="header-buttons">
    <a
      *ngIf="!checkPath('/admin-panel')"
      routerLink="/admin-panel"
      style="text-decoration: none">
      <button
        *ngIf="isAdmin$ | async"
        mat-stroked-button
        color="primary"
        style="margin-right: 15px">
        Admin panel
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
    </a>

    <a
      *ngIf="!checkPath('/')"
      routerLink="/"
      style="text-decoration: none">
      <button
        mat-stroked-button
        color="green"
        style="margin-right: 15px">
        Dashboard
        <mat-icon>assignment</mat-icon>
      </button>
    </a>

    <button
      mat-stroked-button
      (click)="onLogOut()"
      color="warn">
      Log out
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
