<form
  (ngSubmit)='onSubmit()'
  [formGroup]='optionForm'
  class='options-form'
  mat-dialog-content>
  <p> {{ data.title || 'Configure option' }}</p>

  <mat-form-field>
    <mat-label>Answer option</mat-label>
    <input
      formControlName='option'
      matInput
      type='text' />
    <mat-error *ngIf="optionForm.get('option')?.hasError('required')">
      Enter the answer option
    </mat-error>
  </mat-form-field>

  <div class='form-buttons' mat-dialog-actions>
    <button
      (click)='onClose()'
      mat-raised-button
      type='button'>
      Cancel
    </button>
    <button
      cdkFocusInitial
      color='primary'
      mat-raised-button
      type='submit'>
      Save
    </button>
  </div>
</form>
