<div class="dashboard-wrapper">
  <table
    mat-table
    [dataSource]="dashboardData"
    class="dashboard">
    <ng-container matColumnDef="id">
      <th
        mat-header-cell
        *matHeaderCellDef>
        No.
      </th>
      <td
        mat-cell
        *matCellDef="let element">
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef>
        Name
      </th>
      <td
        mat-cell
        *matCellDef="let element">
        <a [routerLink]="'/assessment/' + element.id">
          {{ element.name }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="users_resolved">
      <th
        mat-header-cell
        *matHeaderCellDef>
        Users Resolved
      </th>
      <td
        mat-cell
        *matCellDef="let element">
        {{ element.users_resolved }}
      </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th
        mat-header-cell
        *matHeaderCellDef>
        Active
      </th>
      <td
        mat-cell
        *matCellDef="let element">
        {{ element.active ? 'Yes' : 'No' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="image_url">
      <th
        mat-header-cell
        *matHeaderCellDef>
        Image
      </th>
      <td
        mat-cell
        *matCellDef="let element">
        <img
          [src]="element.image_url"
          [alt]="element.name"
          style="max-width: 150px" />
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
