<form
  [formGroup]="engineerForm"
  #formDirective="ngForm"
  (ngSubmit)="onSubmit(formDirective)"
  class="engineerForm">
  <h1 style="text-align: center">FrontEnd Engineer Form</h1>

  <mat-form-field>
    <mat-label>Your name</mat-label>
    <input
      matInput
      type="text"
      formControlName="firstName" />

    <mat-error *ngIf="getFieldError('firstName')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Your surname</mat-label>
    <input
      matInput
      type="text"
      formControlName="lastName" />
    <mat-error *ngIf="getFieldError('lastName')">
      Surname is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date of birth</mat-label>
    <input
      matInput
      [matDatepicker]="birthPicker"
      formControlName="dateOfBirth" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="birthPicker">
    </mat-datepicker-toggle>
    <mat-datepicker #birthPicker></mat-datepicker>
    <mat-error *ngIf="getFieldError('dateOfBirth')">
      Birth date is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Framework</mat-label>
    <mat-select
      #technology
      formControlName="framework">
      <mat-option
        *ngFor="let technology of availableTechnologies"
        [value]="technology"
        >{{ technology | titlecase }}</mat-option
      >
    </mat-select>
    <mat-error *ngIf="getFieldError('framework')">
      Framework is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    *ngIf="!getFieldError('framework')">
    <mat-label>Technology version</mat-label>
    <mat-select formControlName="frameworkVersion">
      <mat-option
        *ngFor="let version of formService.technologyVersions$ | async"
        [value]="version"
        >{{ version }}</mat-option
      >
    </mat-select>
    <mat-error *ngIf="getFieldError('frameworkVersion')">
      Version is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      appEmailValidator
      type="text"
      formControlName="email" />
    <mat-error *ngIf="getFieldError('email', 'pattern')">
      Please enter a <strong>valid</strong> email address
    </mat-error>
    <mat-error *ngIf="getFieldError('email')">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="getFieldError('email', 'invalid')">
      Email has <strong>already</strong> been used
    </mat-error>
  </mat-form-field>

  <div>
    <div class="hobbies">
      <h2 class="hobbies-title">Hobbies</h2>
      <button
        mat-mini-fab
        type="button"
        color="primary"
        (click)="onHobbyAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-error *ngIf="getFieldError('hobbies')">
      Need <strong>at least</strong> one hobby
    </mat-error>
    <ul class="hobbies-list">
      <li *ngFor="let hobby of hobbies.value; let i = index">
        <h3>{{ hobby.name | titlecase }}</h3>
        <p>{{ hobby.duration }}</p>
        <button
          mat-icon-button
          type="button"
          color="warn"
          (click)="onDeleteHobby(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>
  </div>

  <button
    mat-raised-button
    type="submit"
    color="primary"
    style="margin-top: 15px">
    Submit
  </button>
</form>
