.admin-wrapper {
  padding: 20px 16px;
}

.mat-mdc-table {
  border-radius: 8px;
  border: 1px solid gray;
  overflow: hidden;
}

.mat-mdc-header-cell {
  font-weight: bold;
}

tr.mat-mdc-row:nth-child(even) {
  background-color: honeydew;
}

td.mat-column-position {
  font-style: oblique;
  text-decoration: underline;
}
