.question-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px auto;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 20px;

  .options-list {
    list-style: none;

    li {
      width: 100%;
      max-width: 320px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #dddddd;
      border-radius: 4px;
      padding: 5px;

      p {
        margin: 0;
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }

      button {
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
