<form
  (ngSubmit)="onSubmit()"
  [formGroup]="questionForm"
  class="question-form">
  <div class="question-title">
    <h2 class="label">Question title</h2>
    <mat-form-field>
      <mat-label>Enter question title here</mat-label>
      <textarea
        matInput
        formControlName="title"
        placeholder="Ex. Who is the best Angular developer?"></textarea>
      <mat-error *ngIf="getFieldError('title')"> Title is required </mat-error>
    </mat-form-field>
  </div>
  <div class="question-type">
    <h2 class="label">Question type</h2>
    <mat-radio-group formControlName="type">
      <mat-radio-button
        (change)="onOptionChange(item)"
        *ngFor="let item of availableTypes"
        [name]="item"
        [value]="item">
        {{ item | titlecase }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <app-answer-options
    *ngIf="multipleTypes.includes(questionForm.controls['type'].value)"
    formControlName="options">
  </app-answer-options>

  <button
    [disabled]="!questionForm.valid"
    class="submit"
    color="primary"
    mat-raised-button
    type="submit">
    Save question
  </button>
</form>
