.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
  }
}

.active-link {
  display: none;
}
