<app-header
  headerTitle="List of questions"
  [includeBackButton]="true"></app-header>
<ng-container
  *ngIf="{
    answeredQuestions: answeredQuestions$ | async,
    unansweredQuestions: unansweredQuestions$ | async
  } as questionsList">
  <div
    *ngIf="questionsList.unansweredQuestions?.length || questionsList.answeredQuestions?.length"
    class="list-wrapper">
    <div class="answered">
      <h3>Answered questions</h3>
      <div class="list">
        <ng-container *ngFor="let question of questionsList.unansweredQuestions">
          <app-generate-question
            [question]="question"></app-generate-question>
        </ng-container>
      </div>
    </div>
    <div class="unanswered">
      <h3>Unanswered questions</h3>
      <div class="list">
        <ng-container *ngFor="let question of questionsList.answeredQuestions">
          <app-generate-question
            [question]="question"
            class="list-item"></app-generate-question>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
